body {
  background-color: gray;
  padding: none;
  margin: none;
}

.topBlock {
  background-color: #6AACE6;
}

.middleBlock {
  background-color: #E68581;
}

.bottomBlock {
  background-color: #376B99;
}
